[BASIC]
good-names=id,tb

[LOGGING]
logging-format-style=new

[FORMAT]
max-line-length=140

[SIMILARITIES]
min-similarity-lines=8

[MESSAGES CONTROL]
disable=
     logging-fstring-interpolation,
     missing-module-docstring,
     missing-class-docstring,
     missing-function-docstring,
     too-few-public-methods,
     too-many-public-methods,
     too-many-arguments,
     import-error,
     unsubscriptable-object,
     fixme,
     pointless-string-statement,
     redefined-builtin

max-module-lines=2000
