[tool.poetry]
name = "pyoverkiz"
version = "1.11.0"
description = "Async Python client to interact with internal OverKiz API (e.g. used by Somfy TaHoma)."
authors = ["Mick Vleeshouwer", "Vincent Le Bourlot", "Thibaut Etienne"]
license = "MIT"
readme = "README.md"
homepage = "https://github.com/iMicknl/python-overkiz-api"
repository = "https://github.com/iMicknl/python-overkiz-api"
packages = [
    { include = "pyoverkiz" }
]


[tool.poetry.dependencies]
python = ">=3.8,<4.0"
aiohttp = "^3.6.1"
pyhumps = "^3.0.2,!=3.7.3"
backoff = ">=1.10.0,<3.0"
attrs = ">=21.2,<24.0"
boto3 = "^1.18.59"
warrant-lite = "^1.0.4"
backports-strenum = "^1.2.4"

[tool.poetry.dev-dependencies]
tox = "^4.11"
pytest = "^7.4"
pytest-cov = "^4.1.0"
pre-commit = "^3.4"
black = {version = "^23.9", allow-prereleases = true}
pylint = "^2.13.9"
isort = "^5.11.5"
mypy = "^1.5"
flake8 = "^5.0.4"
pyupgrade = "^3.3.2"
pytest-asyncio = "^0.21.1"


[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
