[tool.poetry]
name = "pyhoma"
version = "0.3.4"
description = "Async Python wrapper to interact with internal Somfy TaHoma API"
authors = ["Mick Vleeshouwer", "Vincent Le Bourlot", "Thibaut Etienne"]
license = "MIT"
readme = "README.md"
homepage = "https://github.com/iMicknl/python-tahoma-api"
repository = "https://github.com/iMicknl/python-tahoma-api"
packages = [
    { include = "pyhoma" }
]

[tool.poetry.dependencies]
python = ">=3.7"
aiohttp = "^3.6.1"
pyhumps = "^1.3.1"

[tool.poetry.dev-dependencies]
tox = ">=3.0"
pytest = ">=4.1"
pytest-cov = ">=2.8.1"
pre-commit = ">=1.10"
black = {version = "^19.10b0", allow-prereleases = true}

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
