[tool.poetry]
name = "pyhoma"
version = "0.5.19"
description = "Async Python wrapper to interact with internal Somfy TaHoma API, or other OverKiz API's."
authors = ["Mick Vleeshouwer", "Vincent Le Bourlot", "Thibaut Etienne"]
license = "MIT"
readme = "README.md"
homepage = "https://github.com/iMicknl/python-tahoma-api"
repository = "https://github.com/iMicknl/python-tahoma-api"
packages = [
    { include = "pyhoma" }
]

[tool.poetry.dependencies]
python = ">=3.7,<4.0"
aiohttp = "^3.6.1"
pyhumps = "^1.3.1"
backoff = "^1.10.0"

[tool.poetry.dev-dependencies]
tox = "^3.24"
pytest = "^6.2"
pytest-cov = "^2.12.1"
pre-commit = "^2.15"
black = {version = "^21.9b0", allow-prereleases = true}
pylint = "^2.9.6"
isort = "^5.9.3"
mypy = "^0.910"
flake8 = "^3.9.2"
pyupgrade = "^2.26.0"
pytest-asyncio = "^0.15.1"


[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
