[tool.poetry]
name = "pyoverkiz"
version = "1.3.5"
description = "Async Python client to interact with internal OverKiz API (e.g. used by Somfy TaHoma)."
authors = ["Mick Vleeshouwer", "Vincent Le Bourlot", "Thibaut Etienne"]
license = "MIT"
readme = "README.md"
homepage = "https://github.com/iMicknl/python-overkiz-api"
repository = "https://github.com/iMicknl/python-overkiz-api"
packages = [
    { include = "pyoverkiz" }
]


[tool.poetry.dependencies]
python = ">=3.7,<4.0"
aiohttp = "^3.6.1"
pyhumps = "^3.0.2"
backoff = "^1.10.0"
attrs = "^21.2.0"
boto3 = "^1.18.59"
warrant-lite = "^1.0.4"

[tool.poetry.dev-dependencies]
tox = "^3.24"
pytest = "^7.0"
pytest-cov = "^3.0.0"
pre-commit = "^2.17"
black = {version = "^22.1", allow-prereleases = true}
pylint = "^2.12.2"
isort = "^5.10.1"
mypy = "^0.931"
flake8 = "^4.0.1"
pyupgrade = "^2.30.0"
pytest-asyncio = "^0.18.1"


[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
