[tool.poetry]
name = "pyhoma"
version = "0.5.13"
description = "Async Python wrapper to interact with internal Somfy TaHoma API, or other OverKiz API's."
authors = ["Mick Vleeshouwer", "Vincent Le Bourlot", "Thibaut Etienne"]
license = "MIT"
readme = "README.md"
homepage = "https://github.com/iMicknl/python-tahoma-api"
repository = "https://github.com/iMicknl/python-tahoma-api"
packages = [
    { include = "pyhoma" }
]

[tool.poetry.dependencies]
python = ">=3.7,<4.0"
aiohttp = "^3.6.1"
pyhumps = "^1.3.1"
backoff = "^1.10.0"

[tool.poetry.dev-dependencies]
tox = "^3.23"
pytest = "^6.2"
pytest-cov = "^2.11.1"
pre-commit = "^2.12"
black = {version = "^21.5b0", allow-prereleases = true}
pylint = "^2.8.2"
isort = "^5.8.0"
mypy = "^0.812"
flake8 = "^3.9.2"
pyupgrade = "^2.16.0"
pytest-asyncio = "^0.15.1"


[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
