[tool.poetry]
name = "pyhoma"
version = "0.5.7"
description = "Async Python wrapper to interact with internal Somfy TaHoma API"
authors = ["Mick Vleeshouwer", "Vincent Le Bourlot", "Thibaut Etienne"]
license = "MIT"
readme = "README.md"
homepage = "https://github.com/iMicknl/python-tahoma-api"
repository = "https://github.com/iMicknl/python-tahoma-api"
packages = [
    { include = "pyhoma" }
]

[tool.poetry.dependencies]
python = ">=3.7,<4.0"
aiohttp = "^3.6.1"
pyhumps = "^1.3.1"
backoff = "^1.10.0"

[tool.poetry.dev-dependencies]
tox = "^3.21"
pytest = "^6.2"
pytest-cov = "^2.11.1"
pre-commit = "^2.10"
black = {version = "^20.8b1", allow-prereleases = true}
pylint = "^2.6.0"
isort = "^5.7.0"
mypy = "^0.800"
flake8 = "^3.8.4"
pyupgrade = "^2.7.4"

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
