[tool.poetry]
name = "pyhoma"
version = "0.7.3"
description = "Async Python wrapper to interact with internal Somfy TaHoma API, or other OverKiz API's."
authors = ["Mick Vleeshouwer", "Vincent Le Bourlot", "Thibaut Etienne"]
license = "MIT"
readme = "README.md"
homepage = "https://github.com/iMicknl/python-tahoma-api"
repository = "https://github.com/iMicknl/python-tahoma-api"
packages = [
    { include = "pyhoma" }
]

[tool.poetry.dependencies]
python = ">=3.7,<4.0"
aiohttp = "^3.6.1"
pyhumps = "^3.0.2"
backoff = "^1.10.0"
attrs = "^21.2.0"
boto3 = "^1.18.59"
warrant = "^0.6.1"

[tool.poetry.dev-dependencies]
tox = "^3.24"
pytest = "^6.2"
pytest-cov = "^3.0.0"
pre-commit = "^2.16"
black = {version = "^21.12b0", allow-prereleases = true}
pylint = "^2.12.2"
isort = "^5.10.1"
mypy = "^0.910"
flake8 = "^4.0.1"
pyupgrade = "^2.29.1"
pytest-asyncio = "^0.16.0"


[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
